---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <title slot="page-title">ShockSoc | About</title>
  <div class="w-full h-52 md:h-60 xl:h-80 bg-slate-200 dark:bg-slate-800 flex">
    <h1
      class="m-auto text-5xl md:text-7xl xl:text-9xl font-bold bg-gradient-to-r from-uni-blue via-uni-green to-uni-yellow bg-clip-text text-transparent"
    >
      About Us
    </h1>
  </div>
  <div class="flex flex-col py-4 bg-slate-400 dark:bg-slate-700">
    <p class="italic text-center text-4xl sm:text-5xl">Who are we?</p>
    <p class="mx-auto text-center px-4 text-lg md:text-xl xl:text-2xl my-4">
      We are the
      <span
        class="bg-clip-text bg-gradient-to-r from-uni-green to-uni-blue text-transparent font-bold"
      >
        Engineering
      </span>
      society at the
      <span
        class="bg-clip-text bg-gradient-to-r from-uni-yellow to-uni-blue text-transparent font-bold"
      >
        University of York
      </span>
      . We run a variety of regular events, including:
    </p>
    <ul class="text-lg sm:text-xl self-center list-inside list-[square]">
      <li class="text-uni-green">
        <span class="text-gray-900 dark:text-slate-100">
          Weekly lab sessions
        </span>
      </li>
      <li class="text-uni-yellow">
        <span class="text-gray-900 dark:text-slate-100"> Social events</span>
      </li>
      <li class="text-uni-blue">
        <span class="text-gray-900 dark:text-slate-100">
          Projects {"&"} challenges
        </span>
      </li>
    </ul>
    <p class="italic text-center text-4xl sm:text-5xl my-4">Our Committee</p>
  </div>
</Layout>
