---
import { get, getDatabase, ref } from "firebase/database";
import { getDownloadURL, getStorage, ref as sRef } from "firebase/storage";
import EventsContainer from "../components/EventsContainer";
import { firebaseClient } from "../firebase";
import Layout from "../layouts/Layout.astro";

type EventType = {
  [key: string]: {
    name: string;
    description: string;
    when: string;
    where: string;
    image: string | undefined;
  };
};

const db = getDatabase(firebaseClient);
const storage = getStorage(firebaseClient);

const eventsRef = ref(db, "events");

let events: EventType = {};

const snapshot = (await get(eventsRef)).val();

if (snapshot) events = snapshot;
else console.error("FIREBASE ERROR: Could not retrieve events");

for (var event in events) {
  try {
    const imageURL = await getDownloadURL(
      sRef(storage, `events/${events[event].name.toLowerCase()}.png`)
    );
    events[event].image = imageURL;
  } catch (error) {
    events[event].image = undefined;
    console.error("FIREBASE ERROR: ", error);
  }
}
---

<Layout>
  <title slot="page-title">ShockSoc | Events</title>
  <div class="w-full h-52 md:h-60 xl:h-80 bg-slate-200 dark:bg-slate-800 flex">
    <h1
      class="m-auto text-5xl md:text-7xl xl:text-9xl font-bold bg-gradient-to-r from-uni-blue via-uni-green to-uni-yellow bg-clip-text text-transparent"
    >
      Events
    </h1>
  </div>
  <div class="w-full flex flex-col p-4">
    <EventsContainer client:load events={events} />
  </div>
</Layout>
