---
export interface Props {
  link: string;
  text?: string;
}

const { link, text } = Astro.props;
---

<a
  href={link}
  class="hover:bg-slate-800 rounded transition-colors ease-in-out duration-200 uppercase font-bold text-lg p-4"
>
  {text ? text : link}
</a>
