---
import LoginHeaderButton from "../components/LoginHeaderButton";
import HeaderButton from "./HeaderButton.astro";
---

<header
  class="hidden md:flex flex-row w-full justify-between bg-slate-400 dark:bg-slate-900 p-4 items-center shadow-xl z-10"
>
  <a
    href="/website/"
    class="flex flex-row p-2 hover:bg-slate-300 dark:hover:bg-slate-800 rounded transition-colors ease-in-out duration-200"
  >
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      x="0"
      y="0"
      width="1080"
      height="1080"
      viewBox="0, 0, 1080, 1080"
      class="w-16 h-16 self-center fill-slate-900 dark:fill-slate-100"
    >
      <g id="Shock_soc_logo">
        <path
          d="M539.999,0 C838.234,0.001 1080,241.767 1080,540 C1080,838.234 838.234,1080.001 540,1080 C241.766,1080.001 -0,838.234 -0,540 C-0,241.767 241.766,0.001 540,0.001 L539.999,0 z M964.441,253.384 L877.175,394.895 L990.777,536.5 L969.13,553.865 L860.494,418.449 L860.494,553.773 L834.584,553.773 L834.584,553.773 C760.185,553.773 699.873,614.086 699.873,688.484 C699.873,762.883 760.185,823.195 834.584,823.195 L834.584,850.946 C767.33,850.268 710.217,811.126 684.142,749.458 C662.452,799.278 618.456,833.633 565.866,845.582 L572.052,815.511 C615.095,805.456 650.705,767.814 663.504,726.333 C669.153,708.026 668.738,702.561 669.56,686.274 C669.561,611.876 609.249,551.564 534.85,551.564 C460.451,551.564 400.139,611.876 400.139,686.274 C401.391,755.016 454.577,816.932 525.143,820.495 L525.143,848.388 C478.103,845.093 435.599,821.65 406.809,784.583 C395.309,820.645 360.278,842.783 323.526,843.711 C300.03,843.596 278.201,834.358 261.489,817.646 L281.112,798.022 C292.689,809.6 307.531,815.881 323.594,815.96 C356.962,815.96 384.011,788.91 384.011,755.542 C384.011,722.174 356.962,695.125 323.593,695.124 C274.899,695.124 235.425,655.65 235.425,606.955 C235.808,588.222 241.158,568.481 253.299,553.773 L239.801,553.773 L239.801,525.35 C222.827,543.684 199.717,553.147 174.939,553.773 C151.443,553.658 129.614,544.42 112.902,527.709 L132.525,508.085 C144.102,519.662 158.944,525.943 175.007,526.022 C208.375,526.022 235.424,498.972 235.424,465.604 C235.424,432.237 208.375,405.187 175.007,405.187 C126.312,405.187 86.838,365.712 86.837,317.018 C86.978,311.462 86.897,310.129 87.853,303.59 C88.19,301.285 88.787,299.025 89.254,296.743 C47.928,371.073 28.822,455.384 27.751,540 C27.752,822.908 257.093,1052.249 540,1052.249 C822.907,1052.249 1052.248,822.908 1052.248,540 C1052.327,438.06 1021.465,337.795 964.441,253.384 L964.441,253.384 z M534.85,563.126 C555.214,564.118 574.964,569.372 593.164,578.602 C598.204,581.159 602.643,584.757 607.383,587.834 L535.197,938.688 L535.197,612.98 L423.383,668.475 L434.091,616.431 C456.253,581.554 494.867,565.145 534.85,563.126 z M402.699,478.339 L402.699,553.773 L376.775,553.773 L366.074,564.473 C354.499,552.897 339.657,546.617 323.593,546.537 C290.226,546.538 263.176,573.588 263.176,606.955 C263.176,640.323 290.226,667.373 323.594,667.372 C341.009,667.412 358.057,672.535 372.488,682.282 C374.108,617.85 413.664,561.334 473.003,536.823 C444.253,524.971 420.019,503.979 402.699,478.34 L402.699,478.339 z M685.525,454.312 C669.107,491.429 638.231,523.219 599.728,537.483 C638.363,554.076 670.154,585.843 685.02,625.433 C700.765,587.448 731.552,555.826 769.512,539.775 C731.322,522.87 702.234,492.36 685.525,454.312 z M374.948,405.187 L267.552,405.187 L267.552,539.025 C283.217,525.553 303.253,519.302 323.661,518.786 C343.361,518.912 358.826,524.795 374.948,535.686 L374.948,405.187 z M832.742,256.646 C757.792,257.956 701.74,317.496 699.873,391.311 C700.765,465.505 758.571,524.1 832.742,525.975 L832.742,256.646 z M539.999,27.752 C373.387,27.94 211.438,111.459 117.826,250.028 C133.778,236.032 154.08,229.378 175.074,228.848 C198.572,228.964 220.401,238.202 237.111,254.913 L217.487,274.536 C205.912,262.96 191.07,256.679 175.007,256.6 C141.639,256.6 114.589,283.65 114.589,317.018 C114.589,350.385 141.639,377.435 175.007,377.435 C201.222,377.68 221.516,387.567 239.801,405.851 L239.801,228.848 L267.552,228.848 L267.552,377.435 L374.948,377.435 L374.948,228.848 L402.699,228.848 L402.699,299.096 C425.653,263.838 461.746,240.547 501.899,229.603 L496.148,259.66 C453.629,271.361 422.749,307.15 408.755,347.774 C403.926,361.416 403.387,373.595 402.699,387.83 L402.699,387.838 C403.692,463.607 462.33,520.646 537.411,522.544 C611.81,522.544 672.122,462.232 672.122,387.833 C670.87,319.769 618.2,257.2 547.977,253.656 L547.976,225.805 C608.64,230.487 663.31,269.076 686.405,325.69 C711.713,265.907 769.403,232.011 832.742,228.895 L832.742,228.848 L860.494,228.848 L860.494,369.076 L946.895,228.964 C850.611,100.437 699.174,29.766 540,27.752 L539.999,27.752 z M535.197,125.014 L535.197,462.098 L644.404,407.897 L633.153,462.583 C611.217,495.443 572.842,510.331 534.85,512.248 C514.275,512.211 494.356,506.968 476.151,497.385 C470.661,494.496 465.868,490.442 460.727,486.971 L535.197,125.014 z"
        ></path>
      </g>
    </svg>
    <span class="font-bold mx-4 self-center text-3xl">ShockSoc</span>
  </a>
  <div>
    <HeaderButton link="/website/" text="home" />
    <HeaderButton link="/website/about/" text="about" />
    <HeaderButton link="/website/events/" text="events" />
    <LoginHeaderButton client:load />
  </div>
</header>
