---
import Footer from "../components/layout/Footer.astro";
import Header from "../components/layout/Header.astro";
---

<html lang="en" class="w-full h-full">
  <head>
    <meta charset="utf-8" />
    <slot name="page-title">
      <title>ShockSoc</title>
    </slot>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="w-full h-full text-slate-900 dark:text-slate-100 flex flex-col">
    <Header />
    <main class="flex-grow flex-shrink-0 basis-[auto]">
      <slot />
    </main>
    <Footer />
    <style>
      body {
        @apply bg-slate-300 dark:bg-slate-700;
      }
    </style>
  </body>
</html>
